<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--  其他设置  -->
    <settings>
        <!-- 是否开启驼峰命名自动映射，即从经典数据库列名 A_COLUMN 映射到经典 Java 属性名 aColumn。-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!--  打印日志信息  -->
<!--        <setting name="logImpl" value="STDOUT_LOGGING" />-->
    </settings>

    <environments default="development">
        <!--  开发环境(调试阶段)  -->
        <environment id="development">
            <!--  采取JDBC的事物管理方法  -->
            <transactionManager type="JDBC"></transactionManager>
            <!--  采取连接池的方式连接  -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/resume"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>

        <!--  生产环境(发布阶段)  -->
        <environment id="production">
            <!--  采取JDBC的事物管理方法  -->
            <transactionManager type="JDBC"></transactionManager>
            <!--  采取连接池的方式连接  -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/resume"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 映射文件 -->
    <mappers>
        <mapper resource="mapper/skill.xml"></mapper>
        <mapper resource="mapper/experience.xml"></mapper>
    </mappers>

</configuration>